################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
