################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs/Laboratorio 2
