################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 4/.vs/Laboratorio 4
/Laboratorio 5/.vs/Laboratorio 5
/Laboratorio 6/.vs/Laboratorio 6
/Laboratorio 7/.vs/Laboratorio 7/FileContentIndex
/Laboratorio 8/.vs/Laboratorio 8
/Laboraatorio 9/.vs/Laboraatorio 9
/Laboratorio 9/Laboratorio 92/.vs/Laboratorio 92
/Laboratorio 9/Laboratorio 93/.vs/Laboratorio 93
/Laboratorio 9/Laboratorio 94/.vs/Laboratorio 94
/Laboratorio 10/Laboratorio 101/.vs/Laboratorio 101
/Laboratorio 10/Laboratorio 101/.vs/ProjectEvaluation
/Laboratorio 11/.vs
/Parcial 1/Parcial_1/.vs/Parcial_1
/Parcial 1/Parcial_1/.vs/ProjectEvaluation
/Proyecto1/Proyecto_1/.vs/Proyecto_1
/Parciales/Parcial1/.vs/Parcial1
/Parciales/Parcial1/.vs/Parcial2/v17
/Laboratorio 14/Laboratorio 14/.vs/Laboratorio 14
/Laboratorio 15/Laboratorio 15/.vs/Laboratorio 15
/Laboratorio 16/.vs/Laboratorio 16
/Laboratorio 17/.vs/Laboratorio 17
/Laboratorio 18/.vs/Laboratorio 18
/Laboratorio 19/.vs/Laboratorio 19
/Laboratorio 20/.vs/Laboratorio 20
/sl_parcial3/.vs/sl_parcial3
